/* Header START*/
header{
    position: sticky;
    top: 0;
    z-index: 9;
    .headerbar{
        background: $primary;
        align-items: center;
        display: flex;
        padding: 4px 0;
        @include transition;
        height: 76px;
        nav{
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            flex-wrap: unset;
            gap: 27px;
            @media(max-width: 991.98px) {
                gap: 15px;
            }
            .main-nav-toggle{
                @media(min-width: 991.98px) {
                    flex: 1;
                }
                ul{
                    gap: 30px;
                    li{
                        color: $white;
                        @include transition;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
        }
        .collapsing{
            position: relative;
            overflow: hidden;
            height: 0;
            transition: height .35s ease;
        }
        .logo_header{
            z-index: 3;
            li{
                height: 68px;
                max-width: 68px;
                @include transition;
                @media(max-width: 470px) {
                    height: 35px!important;
                    max-width: 35px!important;
                }
                img{
                    width: 100%;
                    height: 100% !important;
                    -o-object-fit: contain;
                    object-fit: contain;
                    -o-object-position: left;
                    object-position: left;
                }
            }
        }
    }
}
.shadow-header{
    box-shadow: 0px 10px 16px #1a1a2e10;
    @include transition;
}
.scroll-headerchange{
    @include transition;
    height: 70px!important;
    padding: 4px 0!important;
    box-shadow: 0px 10px 16px #1a1a2e10;
    .logo_header{
        li{
            height: 64px!important;
            @include transition;
            max-width: 64px!important;
        }
    }
}
.scroll-navchange{
    li{
        @media(min-width: 991.98px) {
        // color: $black!important;
        @include transition;
        }
    }
}
.scroll-hamburger{
    top: 15px!important;
    @include transition;
}
.menu-here{
    nav{
        @media(max-width: 991.98px) {
            .logo_header{
                flex: 1;
            }
            button{
                order: -1;
            }
        }
    }
}
.back-button{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $white;
}
/* Header END*/
